django/todoapi/__pycache__/views.cpython-38.pyc
django/todoapi/__pycache__/
django/todoapi/migrations/__pycache__/
django/todoproj/__pycache__/
django/db.sqlite3
django/uploads/
django/todoapi/__pycache__/models.cpython-38.pyc
django/todoapi/__pycache__/serializers.cpython-38.pyc
django/todoapi/__pycache__/views.cpython-38.pyc
django/todoapi/migrations/__pycache__/0001_initial.cpython-38.pyc
django/todoapi/migrations/__pycache__/0002_dummy_tasks.cpython-38.pyc
log/
*.log
