# compiled output
angular-app/dist
angular-app/tmp
angular-app/out-tsc
# Only exists if Bazel was run
angular-app/bazel-out

# dependencies
angular-app/node_modules

# profiling files
angular-app/chrome-profiler-events*.json
angular-app/speed-measure-plugin*.json

# IDEs and editors
angular-app/.idea
angular-app/.project
angular-app/.classpath
angular-app/.c9/
angular-app/*.launch
angular-app/.settings/
angular-app/*.sublime-workspace

# IDE - VSCode
angular-app/.vscode/*
angular-app/!.vscode/settings.json
angular-app/!.vscode/tasks.json
angular-app/!.vscode/extensions.json
angular-app/!.vscode/launch.json
angular-app/.history/*

# misc
angular-app/.sass-cache
angular-app/connect.lock
angular-app/coverage
angular-app/libpeerconnection.log
angular-app/npm-debug.log
angular-app/yarn-error.log
angular-app/testem.log
angular-app/typings

# System Files
angular-app/.DS_Store
angular-app/Thumbs.db